# OS files
Thumbs.db
.DS_Store
desktop.ini
*.swp
*.swo

# IDE
.vscode/
.idea/
*.suo
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment
.env
.env.local

# temp
*.tmp

# Project specific
node_modules/
